body {
    background-color: #CFF4FF;
    font-family: 'B612', sans-serif;
}

.customBg{
    background-color: #BEBEBE;
}

.font50 {
    font-size: 50px;
}

.font30 {
    font-size: 30px;
}

.hamburgerBtn {
    width: 80px;
    height: 52px;
}

.hamburger {
    width: auto;
    height: 40px
}

.navbarHeight {
    height: 107px;
}